.Budget{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 40px;
    margin: 20px;
    .left{
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            font-size: 32px;
            color:#7A7A7A;
        }
    }
    .limitButton{
        padding: 20px;
        margin: 20px;
        background-color: #454545;
        border-radius: 30px;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
}